:root {
    --red: #E50914;
    --black: #141414;
    --grey: #AAA;
}   

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--grey);
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/* filme principal */

.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .synopsis {
    margin-top:10px;
    margin-bottom: 40px;
}

.main-movie .title-movie {
    text-transform: uppercase;
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    transition: .7s ease-out;
    text-transform: uppercase;
}

.button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 5px;
}