:root {
    --red: #E50914;
    --black: #141414;
    --grey: #AAA;
}   

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--grey);
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/* filme principal */

.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .synopsis {
    margin-bottom: 40px;
}

.title-movie {
    font-size: 40px;
}